# Compiled class file
*.class806

# Log file
*.log753

# BlueJ files
*.ctxt486

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar88
*.war86
*.nar52
*.ear83
*.zip83
*.tar.gz55
*.rar75

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
